<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.cocktail_image.key %>')">
    <h1><%= @cocktail.name %></h1>
    <div class="container">
        <div class="row container-banner"></div>
            <div class="card-description col-8 mt-2">
                <h2>Description</h2>
            </div>
            <div class="card-ingredient col-4 mt-2">
                <h3>Ingrédients</h3>
                <% @cocktail.doses.each do |dose| %>
                    <div class="d-flex align-items-center">
                        <div class="ingredient">
                            <%= dose.ingredient.name %> -
                        </div>
                        <div class="dose ml-2">
                            <%= dose.description %>
                        </div>
                        <div class="btn-remove-ingredient ml-2 mb-1">
                            <%= link_to icon_trash("trash"), dose_path(dose), method: :delete, data: { confirm: "are you sure ?"} %></p>
                        </div>
                    </div>
                <% end %>
            </div>
            <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success"%>
        </div>
    </div>
</div>
