<div class="navbar">
    <div class="navbar-left"><h1><%= link_to "Crazy Cocktails", root_path %></h1></div>
    <div class="navbar-right d-flex">
        <div class="search-navbar">
            <%= form_tag cocktails_path, method: :get, class: "form_inline" do %>
            <%= text_field_tag :query, "", placeholder: "Search...", class:"search-navbar-input" %>
            <button class='btn-navbar-search ml-1' id="search-cocktails" style='width:40px;'>
                <%= icon_search("search") %>
            </button>
            <% end %>
        </div>
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-yellow ml-2" %>
    </div>
</div>